<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Student Number:G00439359</h1>
  <div class="image" (click)="goToSettings()">
<img src="assets/icon/2099058.png" >
</div>
<ion-input label="Enter Country" placeholder="Country Name" [(ngModel)] = "united"></ion-input>
<div *ngIf="errorMessage" style="color: red; padding-top: 10px;">
  {{ errorMessage }}
</div>
<ion-button (click)="openCountries()"expand="full">SEARCH</ion-button>
</ion-content>
